#h3-prize
  color black
  font-weight 500
  font-size 28px

#h3-judges
  color hex-teal
  display block
  text-align center

#map
  height 200px

#judges
  margin-bottom 30px
  text-align center

  li
    
    img
      border-radius 50px
      display block
      margin 0 auto 10px

    p
      display block
      font-weight bold

    span
      display inline-block
