// Hex Colors
hex-teal        = #039499
hex-dk-teal     = #006b71
hex-lght-yellow = #f4b937
hex-lght-red    = #ed573f

// RGB Colors
rgb-teal        = 3,148,153

// Disable docpad fade on change
html.wait
    transition none

.center
    display block
    text-align center

.underline
    text-decoration underline

// Color Classes
.color-white
    color #fff

.color-dk-teal
    color hex-dk-teal

// Override Classes
.container
    padding-left 15px
    padding-right 15px

.well 
    margin-bottom 0px
    padding 0px

.full
    display block
    width 100%
    height 100%

.no-style
    background-color transparent !important
    background-image none !important
    border none !important
    list-style none !important
    text-decoration none !important
    border none !important
    border-radius 0px !important
    -webkit-box-shadow none !important
    box-shadow none !important

.no-padding
    padding 0px !important

.no-margin
    margin 0px !important

.transition-all
    -webkit-transition all 0.4s ease
    -moz-transition all 0.4s ease
    -o-transition all 0.4s ease
    transition all 0.4s ease

.transition-background
    -webkit-transition background 0.4s ease
    -moz-transition background 0.4s ease
    -o-transition background 0.4s ease
    transition background 0.4s ease

// User Agent Visibility Overrides
// Detect iOS and Android for hidden and visible classes used with device-detect.js
.show
    display block

.hidden-android
    display none

.hidden-ios
    display none

.hidden-web
    display none

.visible-web
    display block

ul, li
    list-style none
    margin 0
    padding 0

// Global Styles
body
    padding-top 60px
    background-color #e2e2e2 !important
    font-family 'Lato', Helvetica, sans-serif

h1, h2, h3, h4, h5, h6, p, a, input, button, select, textarea, span
    font-family 'Lato', Helvetica, sans-serif

// Small devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991px)

    .well
        font-size 36px

// Medium devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199px)

    .well
        font-size 48px

// Large devices (large desktops, 1200px and up)
@media (min-width: 1200px)

    .well
        font-size 54px

// CSS Animations
// Global Navigation Animate Down
.animation-navbar-open
    -webkit-animation-name animation-navbar-down
    -moz-animation-name animation-navbar-down
    -o-animation-name animation-navbar-down
    -ms-animation-name animation-navbar-down
    animation-name animation-navbar-down
    -webkit-animation-duration 1s
    -moz-animation-duration 1s
    -o-animation-duration 1s
    -ms-animation-duration 1s
    animation-duration 1s
    -webkit-animation-iteration-count 1
    -moz-animation-iteration-count 1
    -o-animation-iteration-count 1
    -ms-animation-iteration-count 1
    animation-iteration-count 1
    -webkit-animation-timing-function ease
    -moz-animation-timing-function ease
    -o-animation-timing-function ease
    -ms-animation-timing-function ease
    animation-timing-function ease
    -webkit-animation-fill-mode forwards
    -moz-animation-fill-mode forwards
    -o-animation-fill-mode forwards
    -ms-animation-fill-mode forwards
    animation-fill-mode forwards

@-moz-keyframes animation-navbar-down
    0% 
        top 0px

    100%
        top 180px

@-webkit-keyframes animation-navbar-down
    0%
        top 0px

    100%
        top 180px

@-o-keyframes animation-navbar-down
    0%
        top 0px

    100%
        top 180px

@-ms-keyframes animation-navbar-down
    0%
        top 0px

    100% 
        top 180px

@keyframes animation-navbar-down
    0%
        top 0px

    100%
        top 180px

// Global Navigation Animate Up
.animation-navbar-close
    -webkit-animation-name animation-navbar-up
    -moz-animation-name animation-navbar-up
    -o-animation-name animation-navbar-up
    -ms-animation-name animation-navbar-up
    animation-name animation-navbar-up
    -webkit-animation-duration 1s
    -moz-animation-duration 1s
    -o-animation-duration 1s
    -ms-animation-duration 1s
    animation-duration 1s
    -webkit-animation-iteration-count 1
    -moz-animation-iteration-count 1
    -o-animation-iteration-count 1
    -ms-animation-iteration-count 1
    animation-iteration-count 1
    -webkit-animation-timing-function ease
    -moz-animation-timing-function ease
    -o-animation-timing-function ease
    -ms-animation-timing-function ease
    animation-timing-function ease
    -webkit-animation-fill-mode forwards
    -moz-animation-fill-mode forwards
    -o-animation-fill-mode forwards
    -ms-animation-fill-mode forwards
    animation-fill-mode forwards

@-moz-keyframes animation-navbar-up
    0% 
        top 180px

    100%
        top 0px

@-webkit-keyframes animation-navbar-up
    0%
        top 180px

    100%
        top 0px

@-o-keyframes animation-navbar-up
    0%
        top 180px

    100%
        top 0px

@-ms-keyframes animation-navbar-up
    0%
        top 180px

    100% 
        top 0px

@keyframes animation-navbar-up
    0%
        top 180px

    100%
        top 0px

// Panel Get Updates Down
.animation-panel-updates-open
    -webkit-animation-name animation-panel-updates-down
    -moz-animation-name animation-panel-updates-down
    -o-animation-name animation-panel-updates-down
    -ms-animation-name animation-panel-updates-down
    animation-name animation-panel-updates-down
    -webkit-animation-duration 1s
    -moz-animation-duration 1s
    -o-animation-duration 1s
    -ms-animation-duration 1s
    animation-duration 1s
    -webkit-animation-iteration-count 1
    -moz-animation-iteration-count 1
    -o-animation-iteration-count 1
    -ms-animation-iteration-count 1
    animation-iteration-count 1
    -webkit-animation-timing-function ease
    -moz-animation-timing-function ease
    -o-animation-timing-function ease
    -ms-animation-timing-function ease
    animation-timing-function ease
    -webkit-animation-fill-mode forwards
    -moz-animation-fill-mode forwards
    -o-animation-fill-mode forwards
    -ms-animation-fill-mode forwards
    animation-fill-mode forwards

@-moz-keyframes animation-panel-updates-down
    0% 
        top -180px

    100%
        top 0px

@-webkit-keyframes animation-panel-updates-down
    0%
        top -180px

    100%
        top 0px

@-o-keyframes animation-panel-updates-down
    0%
        top -180px

    100%
        top 0px

@-ms-keyframes animation-panel-updates-down
    0%
        top -180px

    100% 
        top 0px

@keyframes animation-panel-updates-down
    0%
        top -180px

    100%
        top 0px

// Panel Get Updates Down
.animation-panel-updates-close
    -webkit-animation-name animation-panel-updates-up
    -moz-animation-name animation-panel-updates-up
    -o-animation-name animation-panel-updates-up
    -ms-animation-name animation-panel-updates-up
    animation-name animation-panel-updates-up
    -webkit-animation-duration 1s
    -moz-animation-duration 1s
    -o-animation-duration 1s
    -ms-animation-duration 1s
    animation-duration 1s
    -webkit-animation-iteration-count 1
    -moz-animation-iteration-count 1
    -o-animation-iteration-count 1
    -ms-animation-iteration-count 1
    animation-iteration-count 1
    -webkit-animation-timing-function ease
    -moz-animation-timing-function ease
    -o-animation-timing-function ease
    -ms-animation-timing-function ease
    animation-timing-function ease
    -webkit-animation-fill-mode forwards
    -moz-animation-fill-mode forwards
    -o-animation-fill-mode forwards
    -ms-animation-fill-mode forwards
    animation-fill-mode forwards

@-moz-keyframes animation-panel-updates-up
    0% 
        top 0px

    100%
        top -180px

@-webkit-keyframes animation-panel-updates-up
    0%
        top 0px

    100%
        top -180px

@-o-keyframes animation-panel-updates-up
    0%
        top 0px

    100%
        top -180px

@-ms-keyframes animation-panel-updates-up
    0%
        top 0px

    100% 
        top -180px

@keyframes animation-panel-updates-up
    0%
        top 0px

    100%
        top -180px

// Body Animate Down
.animation-body-open
    -webkit-animation-name animation-body-down
    -moz-animation-name animation-body-down
    -o-animation-name animation-body-down
    -ms-animation-name animation-body-down
    animation-name animation-body-down
    -webkit-animation-duration 1s
    -moz-animation-duration 1s
    -o-animation-duration 1s
    -ms-animation-duration 1s
    animation-duration 1s
    -webkit-animation-iteration-count 1
    -moz-animation-iteration-count 1
    -o-animation-iteration-count 1
    -ms-animation-iteration-count 1
    animation-iteration-count 1
    -webkit-animation-timing-function ease
    -moz-animation-timing-function ease
    -o-animation-timing-function ease
    -ms-animation-timing-function ease
    animation-timing-function ease
    -webkit-animation-fill-mode forwards
    -moz-animation-fill-mode forwards
    -o-animation-fill-mode forwards
    -ms-animation-fill-mode forwards
    animation-fill-mode forwards

@-moz-keyframes animation-body-down
    0% 
        padding-top 60px

    100%
        padding-top 240px

@-webkit-keyframes animation-body-down
    0%
        padding-top 60px

    100%
        padding-top 240px

@-o-keyframes animation-body-down
    0%
        padding-top 60px

    100%
        padding-top 240px

@-ms-keyframes animation-body-down
    0%
        padding-top 60px

    100% 
        padding-top 240px

@keyframes animation-body-down
    0%
        padding-top 60px

    100%
        padding-top 240px

// Body Animate Down
.animation-body-close
    -webkit-animation-name animation-body-up
    -moz-animation-name animation-body-up
    -o-animation-name animation-body-up
    -ms-animation-name animation-body-up
    animation-name animation-body-up
    -webkit-animation-duration 1s
    -moz-animation-duration 1s
    -o-animation-duration 1s
    -ms-animation-duration 1s
    animation-duration 1s
    -webkit-animation-iteration-count 1
    -moz-animation-iteration-count 1
    -o-animation-iteration-count 1
    -ms-animation-iteration-count 1
    animation-iteration-count 1
    -webkit-animation-timing-function ease
    -moz-animation-timing-function ease
    -o-animation-timing-function ease
    -ms-animation-timing-function ease
    animation-timing-function ease
    -webkit-animation-fill-mode forwards
    -moz-animation-fill-mode forwards
    -o-animation-fill-mode forwards
    -ms-animation-fill-mode forwards
    animation-fill-mode forwards

@-moz-keyframes animation-body-up
    0% 
        padding-top 240px

    100%
        padding-top 60px

@-webkit-keyframes animation-body-up
    0%
        padding-top 240px

    100%
        padding-top 60px

@-o-keyframes animation-body-up
    0%
        padding-top 240px

    100%
        padding-top 60px

@-ms-keyframes animation-body-up
    0%
        padding-top 240px

    100% 
        padding-top 60px

@keyframes animation-body-up
    0%
        padding-top 240px

    100%
        padding-top 60px
