.navbar
    background-color rgba(hex-teal,.75)
    margin-bottom 0px
    border none

.navbar-fixed-top
    border-width 0

.navbar-fixed-top-panel-opened
    position fixed !important
    top 180px
    right 0
    left 0
    z-index 1030
    border-width 0
    border-radius 0

#container-nav-links
    position absolute
    min-height 60px

.navbar-nav,
.navbar-nav>li,
.navbar-nav>li>a
    min-height 60px

.navbar-nav>li>a
    text-align left
    padding 0 15px 0 0
    line-height 60px
    text-shadow none
    color #fff
    font-size 16px
    font-weight 300

.nav>li>a:hover,
.nav>li>a:focus
    color hex-lght-yellow
    text-decoration none
    background-color transparent

.navbar-header
    width 100%
    margin-left 15px

#container-brand
    float left
    width 100%
    position initial
    top 0
    min-height 60px

.navbar-brand
    width 100%
    min-height 60px
    display block
    padding 0px
    text-indent -9999px
    background-image url(../../img/lincoln-labs-logo.png)
    background-repeat no-repeat 
    background-position center center

.navbar-btn-updates
    width 100%
    min-height 38px
    display block
    text-align center
    margin-top 10px
    color #fff
    font-size 16px
    font-weight 300
    line-height 38px
    border 1px solid #fff
    -moz-border-radius 4px
    -webkit-border-radius 4px
    border-radius 4px

.navbar-btn-updates:hover
    color hex-lght-yellow
    background-color hex-dk-teal
    border-color hex-lght-yellow

.navbar-btn-updates:hover
    text-decoration none

.nav .open>a, 
.nav .open>a:hover, 
.nav .open>a:focus
    color hex-lght-yellow
    background-color transparent
    border-color none

.dropdown-menu
    background-color hex-teal
    border none
    border-top 1px solid #039499
    -webkit-box-shadow 0 2px 2px rgba(0,0,0,0.175)
    box-shadow 0 2px 2px rgba(0,0,0,0.175)
    -moz-box-shadow inset 0 2px 4px rgba(0,0,0,.3)
    -webkit-box-shadow inset 0 2px 4px rgba(0,0,0,.3)
    box-shadow inset 0 2px 4px rgba(0,0,0,.3)

.dropdown-menu>li>a, 
.dropdown-menu>li>a
    color #fff

.dropdown-menu>li>a:hover, 
.dropdown-menu>li>a:focus
    color hex-lght-yellow
    background-image none
    background-color transparent

.navbar-toggle
    border 1px solid #fff
    min-height 38px
    margin-top 10px
    margin-right 0px
    width 100%

.navbar-toggle .icon-bar
    border-top 1px solid #fff
    border-bottom 1px solid #fff
    width 100%

.navbar-collapse
    padding-left 0

// Extra Small devices (up to 479px)
@media (max-width: 479px)
    
    // Global Navigation
    #navbar,
    .navbar,
    .navbar-fixed-top-panel-opened,
    .animation-navbar-open
        top 0px !important

    .navbar-header
        margin-left 0px
        padding-left 0px

    #container-nav-links
        min-height 0px

    .navbar-brand
        background-position left center
        display block !important

    .navbar-collapse
        padding-left 15px

    .in,
    .collapsing
        background-color rgba(hex-teal,.9)
        top 60px
        width 100%

    .in>ul,
    .collapsing>ul
        padding-left 15px
        padding-right 15px

// Medium Small devices (tablets, 480px and up)
@media (min-width: 480px) and (max-width: 767px)
    
    // Global Navigation
    .navbar-header
        margin-left 0px

    #container-nav-links
        min-height 0px

    .navbar-brand
        background-position left center
        display block !important

    .navbar-btn-updates
        font-size 14px

    .navbar-collapse
        padding-left 15px

    .in,
    .collapsing
        background-color rgba(hex-teal,.9)
        top 60px
        width 100%

    .in>ul,
    .collapsing>ul
        padding-left 15px
        padding-right 15px

// Retina Assets
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx)

  .navbar-brand
    background-image url(../../img/lincoln-labs-logo@2x.png)
    background-size 132px 40px
