// Hex Colors
hex-teal        = #039499
hex-dk-teal     = #006b71
hex-lght-yellow = #f4b937

// RGB Colors
rgb-teal        = 3,148,153

// Color Classes
.color-white
    color #fff

// Override Classes
.container
  padding-left 15px
  padding-right 15px

.well 
  margin-bottom 0px
  padding 0px

.full
  display block
  width 100%
  height 100%

.no-style
  background-color transparent !important
  background-image none !important
  border none !important
  list-style none !important
  text-decoration none !important
  border none !important
  border-radius 0px !important
  -webkit-box-shadow none !important
  box-shadow none !important

.no-padding
  padding 0px !important

.no-margin
  margin 0px !important

.transition-all
    -webkit-transition all 0.4s ease
    -moz-transition all 0.4s ease
    -o-transition all 0.4s ease
    transition all 0.4s ease

.transition-background
    -webkit-transition background 0.4s ease
    -moz-transition background 0.4s ease
    -o-transition background 0.4s ease
    transition background 0.4s ease

// User Agent Visibility Overrides
// Detect iOS and Android for hidden and visible classes used with device-detect.js
.hidden-android
    display none

.hidden-ios
    display none

.hidden-web
    display none

.visible-web
    display block

// Global Styles
body
    padding-top 60px
    background-color #e2e2e2
    font-family 'Lato', Helvetica, sans-serif

h1, h2, h3, h4, h5, h6, p, a, input, button, select, textarea, span
    font-family 'Lato', Helvetica, sans-serif

// Start Styles
// Panel Get Updates
#panel-updates
    float left
    position fixed
    right 0
    left 0
    z-index 1030
    height 180px
    width 100%
    background-color #333
    z-index 1000
    -moz-box-shadow inset 0 -2px 4px rgba(0,0,0,.3)
    -webkit-box-shadow inset 0 -2px 4px rgba(0,0,0,.3)
    box-shadow inset 0 -2px 4px rgba(0,0,0,.3)

.panel-updates-closed
    top -180px

.panel-updates-opened
    display block
    top 0

#panel-updates-h1
    margin-top 15px

.input-group
    width 100%

.form-control
    -moz-border-radius 4px
    -webkit-border-radius 4px
    border-radius 4px
    min-height 52px

#input-email
    width 100%
    
#input-zip
    width 100%

#btn-updates-submit,
#mc-embedded-subscribe
    width 100%
    height 52px
    -moz-border-radius 4px
    -webkit-border-radius 4px
    border-radius 4px

#mc-embedded-subscribe
    background-color hex-teal
    color #fff
    padding 0
    border 1px solid hex-dk-teal

#close-panel-updates
    color #fff
    width 100%
    font-size 36px
    line-height 36px
    text-align right
    margin-top 15px
    cursor pointer

// Global Navigation
.navbar
    background-color rgba(hex-teal,.75)
    margin-bottom 0px
    border none

.navbar-fixed-top
    border-width 0

.navbar-fixed-top-panel-opened
    position fixed
    top 180px
    right 0
    left 0
    z-index 1030
    border-width 0
    border-radius 0

#container-nav-links
    position absolute
    min-height 60px

.navbar-nav,
.navbar-nav>li,
.navbar-nav>li>a
    min-height 60px

.navbar-nav>li>a
    text-align left
    padding 0 15px 0 0
    line-height 60px
    text-shadow none
    color #fff
    font-size 16px
    font-weight 300

.nav>li>a:hover,
.nav>li>a:focus
    color hex-lght-yellow
    text-decoration none
    background-color transparent

.navbar-header
    width 100%
    margin-left 15px

#container-brand
    float left
    width 100%
    position initial
    top 0
    min-height 60px

.navbar-brand
    width 100%
    min-height 60px
    display block
    padding 0px
    text-indent -9999px
    background-image url(../img/lincoln-labs-logo.png)
    background-repeat no-repeat 
    background-position center center

.navbar-btn-updates
    width 100%
    min-height 38px
    display block
    text-align center
    margin-top 10px
    color #fff
    font-size 16px
    font-weight 300
    line-height 38px
    border 1px solid #fff
    -moz-border-radius 4px
    -webkit-border-radius 4px
    border-radius 4px

.navbar-btn-updates:hover
    color hex-lght-yellow
    background-color hex-dk-teal
    border-color hex-lght-yellow

.navbar-btn-updates:hover
    text-decoration none

.nav .open>a, 
.nav .open>a:hover, 
.nav .open>a:focus
    color hex-lght-yellow
    background-color transparent
    border-color none

.dropdown-menu
    background-color hex-teal
    border none
    border-top 1px solid #039499
    -webkit-box-shadow 0 2px 2px rgba(0,0,0,0.175)
    box-shadow 0 2px 2px rgba(0,0,0,0.175)
    -moz-box-shadow inset 0 2px 4px rgba(0,0,0,.3)
    -webkit-box-shadow inset 0 2px 4px rgba(0,0,0,.3)
    box-shadow inset 0 2px 4px rgba(0,0,0,.3)

.dropdown-menu>li>a, 
.dropdown-menu>li>a
    color #fff

.dropdown-menu>li>a:hover, 
.dropdown-menu>li>a:focus
    color hex-lght-yellow
    background-image none
    background-color transparent

.navbar-toggle
    border 1px solid #fff
    min-height 38px
    margin-top 10px
    margin-right 0px
    width 100%

.navbar-toggle .icon-bar
    border-top 1px solid #fff
    border-bottom 1px solid #fff
    width 100%

.navbar-collapse
    padding-left 0

// Homepage Content
#bg-body-homepage
    width 100%
    height 675px
    float left
    position fixed
    top 0
    z-index -1
    background-image url(../img/bg-body-homepage.jpg)
    background-size cover
    background-repeat no-repeat
    background-position center center

#img-lincoln-labs-logo-full
    width 100%
    height 494px
    background-image url(../img/logo-lincoln-labs-full.png)
    background-repeat no-repeat
    background-position center 60px
    background-size 269px 255px

#wrapper-homepage-content
    width 100%
    background-color #e2e2e2
    float left
    margin-top 120px

#container-homepage-content
    background-color #fff
    min-height 1000px
    margin-top -120px

#homepage-h2
    padding-top 375px
    font-size 32px
    text-transform uppercase
    font-weight 100
    color #fff

#homepage-h3
    margin-top 60px
    color hex-dk-teal
    font-size 28px
    text-transform uppercase
    font-weight 400

// Extra Small devices (up to 479px)
@media (max-width: 479px)
    
    // Panel Get Updates
    #panel-updates
        top -180px
        visibility hidden
        -webkit-transition none
        -moz-transition none
        -o-transition none
        transition none
    
    // Global Navigation
    #navbar,
    .navbar,
    .navbar-fixed-top-panel-opened,
    .animation-navbar-open
        top 0px !important

    .navbar-header
        margin-left 0px
        padding-left 0px

    #container-nav-links
        min-height 0px

    .navbar-brand
        background-position left center
        display block !important

    .navbar-collapse
        padding-left 15px

    .in,
    .collapsing
        background-color rgba(hex-teal,.9)
        top 60px
        width 100%

    .in>ul,
    .collapsing>ul
        padding-left 15px
        padding-right 15px

    // Homepage Content
    #img-lincoln-labs-logo-full
        height 304px
        background-size 196px 186px

// Medium Small devices (tablets, 480px and up)
@media (min-width: 480px) and (max-width: 767px)
    
    // Global Navigation
    .navbar-header
        margin-left 0px

    #container-nav-links
        min-height 0px

    .navbar-brand
        background-position left center
        display block !important

    .navbar-btn-updates
        font-size 14px

    .navbar-collapse
        padding-left 15px

    .in,
    .collapsing
        background-color rgba(hex-teal,.9)
        top 60px
        width 100%

    .in>ul,
    .collapsing>ul
        padding-left 15px
        padding-right 15px


// Small devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991px)

    .well
        font-size 36px

// Medium devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199px)

    .well
        font-size 48px

// Large devices (large desktops, 1200px and up)
@media (min-width: 1200px)

    .well
        font-size 54px


// Retina Assets
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx)

  .navbar-brand
    background-image url(../img/lincoln-labs-logo@2x.png)
    background-size 132px 40px

// CSS Animations
// Global Navigation Animate Down
.animation-navbar-open
    -webkit-animation-name animation-navbar-down
    -moz-animation-name animation-navbar-down
    -o-animation-name animation-navbar-down
    -ms-animation-name animation-navbar-down
    animation-name animation-navbar-down
    -webkit-animation-duration 1s
    -moz-animation-duration 1s
    -o-animation-duration 1s
    -ms-animation-duration 1s
    animation-duration 1s
    -webkit-animation-iteration-count 1
    -moz-animation-iteration-count 1
    -o-animation-iteration-count 1
    -ms-animation-iteration-count 1
    animation-iteration-count 1
    -webkit-animation-timing-function ease
    -moz-animation-timing-function ease
    -o-animation-timing-function ease
    -ms-animation-timing-function ease
    animation-timing-function ease
    -webkit-animation-fill-mode forwards
    -moz-animation-fill-mode forwards
    -o-animation-fill-mode forwards
    -ms-animation-fill-mode forwards
    animation-fill-mode forwards

@-moz-keyframes animation-navbar-down
    0% 
        top 0px

    100%
        top 180px

@-webkit-keyframes animation-navbar-down
    0%
        top 0px

    100%
        top 180px

@-o-keyframes animation-navbar-down
    0%
        top 0px

    100%
        top 180px

@-ms-keyframes animation-navbar-down
    0%
        top 0px

    100% 
        top 180px

@keyframes animation-navbar-down
    0%
        top 0px

    100%
        top 180px

// Global Navigation Animate Up
.animation-navbar-close
    -webkit-animation-name animation-navbar-up
    -moz-animation-name animation-navbar-up
    -o-animation-name animation-navbar-up
    -ms-animation-name animation-navbar-up
    animation-name animation-navbar-up
    -webkit-animation-duration 1s
    -moz-animation-duration 1s
    -o-animation-duration 1s
    -ms-animation-duration 1s
    animation-duration 1s
    -webkit-animation-iteration-count 1
    -moz-animation-iteration-count 1
    -o-animation-iteration-count 1
    -ms-animation-iteration-count 1
    animation-iteration-count 1
    -webkit-animation-timing-function ease
    -moz-animation-timing-function ease
    -o-animation-timing-function ease
    -ms-animation-timing-function ease
    animation-timing-function ease
    -webkit-animation-fill-mode forwards
    -moz-animation-fill-mode forwards
    -o-animation-fill-mode forwards
    -ms-animation-fill-mode forwards
    animation-fill-mode forwards

@-moz-keyframes animation-navbar-up
    0% 
        top 180px

    100%
        top 0px

@-webkit-keyframes animation-navbar-up
    0%
        top 180px

    100%
        top 0px

@-o-keyframes animation-navbar-up
    0%
        top 180px

    100%
        top 0px

@-ms-keyframes animation-navbar-up
    0%
        top 180px

    100% 
        top 0px

@keyframes animation-navbar-up
    0%
        top 180px

    100%
        top 0px

// Panel Get Updates Down
.animation-panel-updates-open
    -webkit-animation-name animation-panel-updates-down
    -moz-animation-name animation-panel-updates-down
    -o-animation-name animation-panel-updates-down
    -ms-animation-name animation-panel-updates-down
    animation-name animation-panel-updates-down
    -webkit-animation-duration 1s
    -moz-animation-duration 1s
    -o-animation-duration 1s
    -ms-animation-duration 1s
    animation-duration 1s
    -webkit-animation-iteration-count 1
    -moz-animation-iteration-count 1
    -o-animation-iteration-count 1
    -ms-animation-iteration-count 1
    animation-iteration-count 1
    -webkit-animation-timing-function ease
    -moz-animation-timing-function ease
    -o-animation-timing-function ease
    -ms-animation-timing-function ease
    animation-timing-function ease
    -webkit-animation-fill-mode forwards
    -moz-animation-fill-mode forwards
    -o-animation-fill-mode forwards
    -ms-animation-fill-mode forwards
    animation-fill-mode forwards

@-moz-keyframes animation-panel-updates-down
    0% 
        top -180px

    100%
        top 0px

@-webkit-keyframes animation-panel-updates-down
    0%
        top -180px

    100%
        top 0px

@-o-keyframes animation-panel-updates-down
    0%
        top -180px

    100%
        top 0px

@-ms-keyframes animation-panel-updates-down
    0%
        top -180px

    100% 
        top 0px

@keyframes animation-panel-updates-down
    0%
        top -180px

    100%
        top 0px

// Panel Get Updates Down
.animation-panel-updates-close
    -webkit-animation-name animation-panel-updates-up
    -moz-animation-name animation-panel-updates-up
    -o-animation-name animation-panel-updates-up
    -ms-animation-name animation-panel-updates-up
    animation-name animation-panel-updates-up
    -webkit-animation-duration 1s
    -moz-animation-duration 1s
    -o-animation-duration 1s
    -ms-animation-duration 1s
    animation-duration 1s
    -webkit-animation-iteration-count 1
    -moz-animation-iteration-count 1
    -o-animation-iteration-count 1
    -ms-animation-iteration-count 1
    animation-iteration-count 1
    -webkit-animation-timing-function ease
    -moz-animation-timing-function ease
    -o-animation-timing-function ease
    -ms-animation-timing-function ease
    animation-timing-function ease
    -webkit-animation-fill-mode forwards
    -moz-animation-fill-mode forwards
    -o-animation-fill-mode forwards
    -ms-animation-fill-mode forwards
    animation-fill-mode forwards

@-moz-keyframes animation-panel-updates-up
    0% 
        top 0px

    100%
        top -180px

@-webkit-keyframes animation-panel-updates-up
    0%
        top 0px

    100%
        top -180px

@-o-keyframes animation-panel-updates-up
    0%
        top 0px

    100%
        top -180px

@-ms-keyframes animation-panel-updates-up
    0%
        top 0px

    100% 
        top -180px

@keyframes animation-panel-updates-up
    0%
        top 0px

    100%
        top -180px

// Body Animate Down
.animation-body-open
    -webkit-animation-name animation-body-down
    -moz-animation-name animation-body-down
    -o-animation-name animation-body-down
    -ms-animation-name animation-body-down
    animation-name animation-body-down
    -webkit-animation-duration 1s
    -moz-animation-duration 1s
    -o-animation-duration 1s
    -ms-animation-duration 1s
    animation-duration 1s
    -webkit-animation-iteration-count 1
    -moz-animation-iteration-count 1
    -o-animation-iteration-count 1
    -ms-animation-iteration-count 1
    animation-iteration-count 1
    -webkit-animation-timing-function ease
    -moz-animation-timing-function ease
    -o-animation-timing-function ease
    -ms-animation-timing-function ease
    animation-timing-function ease
    -webkit-animation-fill-mode forwards
    -moz-animation-fill-mode forwards
    -o-animation-fill-mode forwards
    -ms-animation-fill-mode forwards
    animation-fill-mode forwards

@-moz-keyframes animation-body-down
    0% 
        padding-top 60px

    100%
        padding-top 240px

@-webkit-keyframes animation-body-down
    0%
        padding-top 60px

    100%
        padding-top 240px

@-o-keyframes animation-body-down
    0%
        padding-top 60px

    100%
        padding-top 240px

@-ms-keyframes animation-body-down
    0%
        padding-top 60px

    100% 
        padding-top 240px

@keyframes animation-body-down
    0%
        padding-top 60px

    100%
        padding-top 240px

// Body Animate Down
.animation-body-close
    -webkit-animation-name animation-body-up
    -moz-animation-name animation-body-up
    -o-animation-name animation-body-up
    -ms-animation-name animation-body-up
    animation-name animation-body-up
    -webkit-animation-duration 1s
    -moz-animation-duration 1s
    -o-animation-duration 1s
    -ms-animation-duration 1s
    animation-duration 1s
    -webkit-animation-iteration-count 1
    -moz-animation-iteration-count 1
    -o-animation-iteration-count 1
    -ms-animation-iteration-count 1
    animation-iteration-count 1
    -webkit-animation-timing-function ease
    -moz-animation-timing-function ease
    -o-animation-timing-function ease
    -ms-animation-timing-function ease
    animation-timing-function ease
    -webkit-animation-fill-mode forwards
    -moz-animation-fill-mode forwards
    -o-animation-fill-mode forwards
    -ms-animation-fill-mode forwards
    animation-fill-mode forwards

@-moz-keyframes animation-body-up
    0% 
        padding-top 240px

    100%
        padding-top 60px

@-webkit-keyframes animation-body-up
    0%
        padding-top 240px

    100%
        padding-top 60px

@-o-keyframes animation-body-up
    0%
        padding-top 240px

    100%
        padding-top 60px

@-ms-keyframes animation-body-up
    0%
        padding-top 240px

    100% 
        padding-top 60px

@keyframes animation-body-up
    0%
        padding-top 240px

    100%
        padding-top 60px

// OLD STYLES

// // Blues
// banner-blue  = #026ec8

// // Greys
// caret        = #c9c9c9
// light-grey   = #ededed
// dark-grey    = #818080

// // Purples
// light-purple = #3b458f
// dark-purple  = #252c5d

// // Reds
// light-red    = #f14743
// dark-red     = #c43a37
// maroon       = #75201e

// .large
//     font-size 24px

// .bg-white
//     background-color #fff

// .center
//     text-align center

// .padding-60
//     padding 60px

// .left
//     float left

// img.left
//     margin-bottom 10px
//     margin-right 10px

// .right
//     float right

// img.right
//     margin 10px 0 10px 10px

// .ex
//     background url('../img/ex.png') no-repeat
//     display inline-block
//     height 10px
//     width 10px
//     margin-left 10px

// *
//     -moz-box-sizing border-box
//     -webkit-box-sizing border-box
//     box-sizing border-box

// body
//     background-color #f9f9f9
//     font-family 'Lato', Helvetica, sans-serif
//     padding-bottom 20px
//     padding-top 50px
//     -webkit-font-smoothing antialiased

// a
//     color #5594ce

// h1, h2, h3, h4, h5, h6
//     margin 0

// .navbar
//     margin-bottom 0

// .navbar-brand
//     padding 0

// #logo img
//     height 30px
//     margin-top 10px

// .nav .caret
//     border-bottom-color caret
//     border-top-color caret

// .padd
//     padding-top 40px

// .banner
//     background-color banner-blue
//     background-position center center
//     background-repeat no-repeat
//     color #fff
//     height 171px
//     overflow hidden

//     h1
//         font-family 'Lato', sans-serif
//         font-size 44px
//         font-weight 300
//         margin 40px 0 20px

//     p
//         font-size 24px

//     .container
//         padding 0

// .banner-hackathon
//     background-color #2d7798
//     height 405px

//     a
//         color #6cb9ff

//     .gmap-btn, .signup-btn
//         color #fff

//     .col-lg-6
//         height 405px
//         padding 60px
//         text-align center

//     h1
//         color #86deeb
//         font-size 30px
//         font-weight 500
//         margin-top 0
//         margin-bottom 4px

//     h2
//         color #86deeb
//         font-size 28px
//         font-weight 300
//         margin-bottom 20px

//     p
//         font-size 18px

//     input
//         border 1px solid #cecece
//         box-sizing border-box
//         color #949494
//         display inline-block
//         font-size 20px
//         font-weight 300
//         height 54px
//         margin-bottom 20px
//         padding 16px
//         vertical-align top

//     #mc-embedded-subscribe
//         background-color #fff
//         border-radius 26px
//         box-shadow 0 1px 1px rgba(0,0,0,0.5)
//         box-sizing border-box
//         color #000
//         font-size 18px
//         font-weight 300
//         margin 0
//         padding 0 20px
//         width 256px

// .banner-home
//     background-image url('../img/beach.png')

// .banner-about
//     background-image url('../img/about.png')

// .banner-miami
//     background url('../img/miami.png') center center no-repeat

// .banner-virtual
//     background url('../img/virtual.png') center center no-repeat

// .banner-chicago
//     background url('../img/chicago.png') center center no-repeat

// .banner-san-francisco
//     background url('../img/san_francisco.png') top center no-repeat

// .banner-seattle
//     background url('../img/seattle.png') top center no-repeat

// .banner-new-york
//     background url('../img/new_york.jpg') center center no-repeat
//     height 415px

//     .col-lg-12
//         margin-top 40px
//         text-align center

// .banner-miami-full
//     background-image url('../img/miami_full.jpg')

// .banner-hackathon + #colors
//     margin-bottom 20px

// .banner-short
//     height 250px

// .gmap-btn
//     border 2px solid #46c4d6
//     border-radius 26px
//     box-sizing border-box
//     color #fff
//     display inline-block
//     height 49px
//     margin-top 20px
//     padding 10px
//     text-align center
//     width 230px

//     &:hover
//         color #fff
//         text-decoration none
//         border 2px solid white

//     span
//         height 22px
//         vertical-align top
//         font-weight bold
//         font-size 18px

// .signup-btn
//     border 2px solid #ffc26c
//     border-radius 26px
//     box-sizing border-box
//     color #fff
//     display inline-block
//     height 49px
//     margin-top 20px
//     padding 10px
//     text-align center
//     width 230px

//     &:hover
//         color #fff
//         text-decoration none
//         border 2px solid white

//     span
//         height 22px
//         vertical-align top
//         font-weight bold
//         font-size 18px
//         margin-left 0

// .plmk
//     background url('../img/plmk.png') center center no-repeat
//     display inline-block
//     height 22px
//     margin-right 10px
//     width 11px

// #colors
//     background-image url('../img/colors.jpg')
//     background-repeat repeat-x
//     height 6px

// .content-box
//     background-color #f0f0f0
//     box-sizing border-box
//     color #000
//     padding 60px

//     h3
//         color #949494
//         font-size 24px
//         font-weight 700
//         margin-bottom 30px

//     p
//         font-weight 300
//         line-height 18px
//         margin 0

// .character
//     background-color #fff
//     border-bottom 1px solid #f1f1f1
//     box-sizing border-box
//     overflow hidden
//     padding 60px 60px 100px 60px

//     .left
//         height 146px
//         margin-right 53px
//         width 146px

//     .right
//         float left
//         max-width 800px

//     h3
//         font-family 'Helvetica Neue', Helvetica, sans-serif
//         font-size 24px
//         font-weight 700
//         margin-bottom 34px

//     p
//         color #595959
//         font-weight 300
//         font-size 18px
//         line-height 24px

//     p.first
//         font-weight 500

// #home-email-container
//     background-color #e8e8e8
//     text-align center

//     form
//         line-height 54px
//         margin 75px 0 63px

//     input
//         border 1px solid #cecece
//         box-sizing border-box
//         color #949494
//         display inline-block
//         font-size 20px
//         height 54px
//         margin-right 19px
//         padding 16px
//         vertical-align top


//     #mc-embedded-subscribe
//         background-color #5798d0
//         border 3px solid #4189c7
//         border-radius 26px
//         box-sizing border-box
//         color #fff
//         line-height 48px
//         margin 0
//         padding 0 20px

//         &:hover
//             background-color #64a6de

//         &:active
//             background-color #4e8ec4

// #home-social, #footer-social
//     background-color #fff
//     border-bottom 1px solid #ededed
//     height 96px
//     text-align center

//     .social-btn
//         display inline-block
//         height 33px
//         margin-right 30px
//         margin-top 32px
//         width 33px

//         &.last
//             margin-right 0

// #footer-social
//     background-color #f9f9f9
//     border 0

// #home-content
//     padding-top 40px

//     .row
//         font-size 18px
//         padding 20px 80px 20px 40px

// #home-partners
//     background-color #fff
//     text-align center
    
//     h3
//         font-size 24px
//         font-weight 300
//         margin-bottom 50px
//         margin-top 57px
//         text-align left

//     #partners
//         display inline-block
//         max-width 813px

//     .partner-btn
//         border 1px solid #ececec
//         display inline-block
//         height 80px
//         margin-bottom 34px
//         margin-right 34px
//         width 173px

//         &.last
//             margin-right 0

// #footer-top-border
//     background-image url('../img/footer_border_top.jpg')
//     background-position center center
//     background-repeat no-repeat
//     height 120px
//     margin-top 20px
//     margin-bottom 20px

// footer

//     h6
//         color #1db6c5
//         font-size 13px
//         font-weight 700
//         margin-bottom 38px
//         text-transform uppercase

//     a
//         color #595959
//         display block
//         font-weight 300
//         margin-bottom 4px

// .api-partner
//     padding 60px 0

//     .img
//         background-color #fff
//         border 1px solid #ececec
//         height 178px
//         margin-right 80px
//         width 367px

//     h3
//         color #000
//         font-size 26px
//         font-weight 600
//         margin-bottom 20px

//     p
//         font-size 18px
//         line-height 24px
//         max-width 500px
//         font-weight 300
//         color #3d3d3d

//     a
//         font-size 18px

// #contact-box
//     padding 60px
//     text-align center

//     img
//         margin-bottom 40px
//         margin-top 40px

//     p
//         font-size 24px
//         font-weight 300
//         line-height 30px

// .hackathon-winners

//     .col-lg-6.text
//         height 340px
//         margin-bottom 40px

//     img
//         position absolute
//         right -45px
//         top -40px


// .banner-miami, .banner-virtual, .banner-seattle, .banner-chicago, .banner-san-francisco

//     .col-lg-12
//         height 406px
//         padding 42px 60px 60px 60px
//         text-align center

// #judges
//     margin-bottom 40px
//     margin-top 40px
//     text-align center

//     p
//         margin-top 10px
//         margin-bottom 10px
//         font-weight bold
//         color #333333
//         font-size 17px

//     span
//         color #949494
//         font-size 12px

//     img
//         border-radius 63px

//         &.last
//             margin-right 0

//     .col-lg-2
//         float none
//         display inline-block
//         vertical-align top

// #official-rules
//     padding-top 40px

//     h1
//         margin-bottom 20px

// .sponsor-header
//     margin-top 40px

// .sponsor-desc
//     font-size 14px

// .sponsor
//     max-width 240px

// .photo-collection
//     margin-top 40px

//     h1
//         margin 0 0 20px 14px

//     img
//         margin-bottom 20px
//         max-width 100%

//     &.photo-collection-main

//         img
//             margin-bottom 10px

//         p
//             margin 0 0 20px


// @media (max-width: 568px)

//     .banner
//         padding-left 10px

//     .banner-hackathon
//         background-position top center
//         height 730px

//         h1
//             margin-top 0

//         .col-lg-6
//             padding 30px 6px

//     .banner-miami
//         background none

//     // Home / Default Layout
//     #home-email-container form

//         input
//             display block
//             margin 0 auto 10px

//     #home-partners .partner-btn
//         margin-right 0

//     footer h6
//         margin 20px 0 10px

//     // About
//     .character

//         .left
//             margin 0 0 20px 20px

//         h3
//             margin-bottom 12px

//     // Contact

//     #contact-box a, #contact-box p
//         font-size 20px

//     // Hackathons

//     // Miami
//     #judges

//         img
//             display block
//             margin 0 auto 0

//             &.last
//                 margin 0 auto 0

//         .judge-name
//             font-weight bold
//             color blue

//         .judge-desc
//             color red

//     // San Francisco

//     .hackathon-winners .col-lg-6.text.team2
//         height 470px

//     .hackathon-winners .col-lg-6.img
//         display none
