<form action="http://lincolnlabs.us7.list-manage.com/subscribe/post?u=37b038d35f4e6f93a44f0c907&amp;id=b77115f0ae" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate="">
  <div class="col-ms-5 col-sm-5">
    <div id="input-email">
      <div class="input-group">
        <input type="email" value="" name="EMAIL" id="mce-EMAIL" class="form-control email" placeholder="Email Address" required>
      </div>
    </div>
  </div>
  <div class="col-ms-4 col-sm-4">
    <div id="input-zip">
      <div class="input-group">
        <input type="text" value="" name="ZIP" id="mce-ZIP" class="form-control zip" placeholder="Zip code" />
      </div>
    </div>
  </div>
  <div class="col-ms-3 col-sm-3">
    <div id="btn-updates-submit">
      <input type="submit" value="Send" name="subscribe" id="mc-embedded-subscribe" class="button email-button">
    </div>
  </div>
</form>
