<div id="footer-wrapper">
  <div id="footer" class="container">
    <div class="row">
      <div class="col-xs-12 col-ms-12 col-sm-12">
        <span class="center"><b>Want an interview?</b> <a href="mailto:press@lincolnlabs.com?subject=I would like to inquire...">press@lincolnlabs.com</a></span>

        <span class="center">Have a question? <a href="mailto:about@lincolnlabs.com">about@lincolnlabs.com</a></span>
      </div>
    </div>
    

    <div class="row">
      <div class="col-xs-12 col-ms-12 col-sm-6">
        <h6 class="text-center footer-headline">Lincoln Labs</h6>
        <a class="footer-a" href="/about">About</a>
        <a class="footer-a" href="/conferences/reboot/hackathon">Hackathon</a>
        <a class="footer-a" href="/top">Terms of Participation</a>
        <!--<a class="footer-a" href="/contact">Contact</a>-->
      </div>

      <!--
      <div class="col-xs-12 col-ms-12 col-sm-4" id="footer-middle-div">
        <h6 class="text-center footer-headline">Events</h6>
        <a class="footer-a" href="/hackathon">Hackathons</a>
        <a class="footer-a" href="/meetups">Meetups</a>
        <a class="footer-a" href="/conferences">Conferences</a>
      </div>
      -->

      <div class="col-xs-12 col-ms-12 col-sm-6">
        <h6 class="text-center footer-headline">Social Media</h6>
        <a class="footer-a" href="https://www.facebook.com/pages/Lincoln-Labs/249270781888425" target="_blank">Facebook</a>
        <a class="footer-a" href="https://twitter.com/lincolnlabs" target="_blank">Twitter</a>
      </div>
    </div>
  </div>
</div>